<template>
  <q-page class="row">
    <div class="col"></div>
    <div class="col"></div>
  </q-page>
</template>

<script>
export default {
  name: 'Home',

  data () {
    return {
    }
  },

  methods: {
  }
}
</script>
