<template>
  <q-page class="flex flex-center">
    <div id="preload">
      <div :class="(isSwitched ? 'switched' : '') + ' absolute-center neumorphism q-pa-xl main-block'">
        <div class="text-h1">
          <span class="text-h2">Nicolò Lafasciano</span>
          <br />
          <span class="text-center block neumoprhism-text">{{ rotation }}</span>
        </div>
        <q-btn
          @click="switchBtn()"
          dense
          flat
          :ripple="false"
          class="neumorphism q-mt-xl block text-center no-hover"
        >Know Me...</q-btn>
      </div>
    </div>
  </q-page>
</template>
<style lang="sass">
body.desktop .q-focus-helper
  display: none

#preload .absolute-center
  border-radius: 20px
  min-width: 800px
  text-align: center

.neumorphism
  border-radius: 15px
  background: #171717
  -webkit-box-shadow: 6px 6px 10px #0b0b0b, -6px -6px 10px #232323, inset 0 0 0 #0b0b0b, inset 0 0 0 #232323
  box-shadow: 6px 6px 10px #0b0b0b, -6px -6px 10px #232323
  font-size: 25px
  font-weight: 100
  width: 300px
  margin: 30px auto
  margin-bottom: 0
  text-transform: uppercase
  transition: .5s

  &.no-hover:hover
    -webkit-box-shadow: 0 0 0 #0b0b0b, 0 0 0 #232323, inset 6px 6px 10px #0b0b0b, inset -6px -6px 10px #232323
    box-shadow: 0 0 0 #0b0b0b, 0 0 0 #232323, inset 6px 6px 10px #0b0b0b, inset -6px -6px 10px #232323

.main-block
  padding-bottom: 50px
  padding-top: 50px

.neumoprhism-text
  -webkit-text-shadow: 3px 3px 8px #0b0b0b, -3px -3px 8px #232323
  text-shadow: 3px 3px 8px #0b0b0b, -3px -3px 8px #232323
  color: #171717
  font-weight: 900
  animation: switchText ease-in-out 3s
  animation-iteration-count: infinite
  transform-origin: 50% 50%
  transition: .5s
  -webkit-animation: switchText ease-in-out 3s
  -webkit-animation-iteration-count: infinite
  -webkit-transform-origin: 50% 50%
  -moz-animation: switchText ease-in-out 3s
  -moz-animation-iteration-count: infinite
  -moz-transform-origin: 50% 50%
  -o-animation: switchText ease-in-out 3s
  -o-animation-iteration-count: infinite
  -o-transform-origin: 50% 50%
  -ms-animation: switchText ease-in-out 3s
  -ms-animation-iteration-count: infinite
  -ms-transform-origin: 50% 50%

.neumorphism.switched
  transition: .5s
  transition-delay: 1.5s
  -webkit-box-shadow: 0 0 0 #0b0b0b, 0 0 0 #232323, inset 0 0 0 #0b0b0b, inset 0 0 0 #232323
  box-shadow: 0 0 0 #0b0b0b, 0 0 0 #232323
  background: $black

.switched .text-h2
  transition: .3s
  opacity: 0

.switched .neumoprhism-text
  transition: opacity .3s 1s
  animation: tempAnimation ease-in-out .5s forwards
  animation-iteration-count: 1
  transform-origin: 50% 50%
  animation-delay: .3s
  -webkit-animation: tempAnimation ease-in-out .5s forwards
  -webkit-animation-iteration-count: 1
  -webkit-transform-origin: 50% 50%
  -webkit-animation-delay: .3s
  -moz-animation: tempAnimation ease-in-out .5s forwards
  -moz-animation-iteration-count: 1
  -moz-transform-origin: 50% 50%
  -o-animation: tempAnimation ease-in-out .5s forwards
  -o-animation-iteration-count: 1
  -o-transform-origin: 50% 50%
  -ms-animation: tempAnimation ease-in-out .5s forwards
  -ms-animation-iteration-count: 1
  -ms-transform-origin: 50% 50%
  opacity: 0

.switched .neumorphism.no-hover
  transition-delay: 1s
  -webkit-box-shadow: 0 0 0 #0b0b0b, 0 0 0 #232323, inset 0 0 0 #0b0b0b, inset 0 0 0 #232323
  box-shadow: 0 0 0 #0b0b0b, 0 0 0 #232323
  opacity: 0

@keyframes switchText
  0%
    text-shadow: 0px 0px 0px #0b0b0b, 0px 0px 0px #232323

  10%
    text-shadow: 3px 3px 8px #0b0b0b, -3px -3px 8px #232323

  90%
    text-shadow: 3px 3px 8px #0b0b0b, -3px -3px 8px #232323

  100%
    text-shadow: 0px 0px 0px #0b0b0b, 0px 0px 0px #232323

@keyframes tempAnimation
  0%
    text-shadow: 3px 3px 8px #0b0b0b, -3px -3px 8px #232323
  100%
    text-shadow: 0px 0px 0px #0b0b0b, 0px 0px 0px #232323
</style>

<script>
const rotationListFull = [
  { spec: 'css' },
  { spec: 'html' },
  { spec: 'javascript' },
  { spec: 'vue.js' },
  { spec: 'react.js' },
  { spec: 'angular.js' },
  { spec: 'php' },
  { spec: 'java' }
]
export default {
  name: 'Join',

  data () {
    return {
      iteration: 1,
      isSwitched: false,
      rotationlist: rotationListFull,
      rotation: ''
    }
  },

  mounted () {
    this.rotation = this.rotationlist[0].spec
    this.startInterval()
  },

  methods: {
    startInterval () {
      setInterval(() => {
        this.rotation = this.rotationlist[
          this.iteration % this.rotationlist.length
        ].spec
        this.iteration += 1
      }, 3000)
    },
    switchBtn () {
      this.isSwitched = true
      this.rotationlist = [
        { spec: this.rotation }
      ]
      setInterval(() => {
        this.$router.push('home')
        this.isSwitched = false
        this.rotationlist = rotationListFull
      }, 1800)
    }
  }
}
</script>
