<template>
  <q-page class="flex flex-center">
    <div id="preload">
      <div class="absolute-center neumorphism q-pa-xl main-block">
        <div class="text-h1">
          <span class="text-center block neumoprhism-text">{{ rotation }}</span>
        </div>
      </div>
    </div>
  </q-page>
</template>
<style lang="stylus">
body.desktop .q-focus-helper {
  display: none;
}

#preload .absolute-center {
  border-radius: 20px;
  min-width: 800px;
  text-align: center;
}

.neumorphism {
  border-radius: 15px;
  background: #171717;
  -webkit-box-shadow: 6px 6px 10px #0b0b0b, -6px -6px 10px #232323, inset 0 0 0 #0b0b0b, inset 0 0 0 #232323;
  box-shadow: 6px 6px 10px #0b0b0b, -6px -6px 10px #232323;
  font-size: 25px;
  font-weight: 100;
  width: 300px;
  margin: 30px auto;
  margin-bottom: 0;
  text-transform: uppercase;
  transition: 0.3s;
}

.neumorphism.no-hover:hover {
  -webkit-box-shadow: 0 0 0 #0b0b0b, 0 0 0 #232323, inset 6px 6px 10px #0b0b0b, inset -6px -6px 10px #232323;
  box-shadow: 0 0 0 #0b0b0b, 0 0 0 #232323, inset 6px 6px 10px #0b0b0b, inset -6px -6px 10px #232323;
}

.main-block {
  padding-bottom: 50px;
  padding-top: 50px;
}

.neumoprhism-text {
  -webkit-text-shadow: 14px 14px 28px #0b0b0b, -14px -14px 28px #232323;
  text-shadow: 14px 14px 28px #0b0b0b, -14px -14px 28px #232323;
  color: #171717;
  font-size: 60px;
  font-weight: 900;
  animation: switchText ease-in-out 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: switchText ease-in-out 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: switchText ease-in-out 1s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: switchText ease-in-out 1s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: switchText ease-in-out 1s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes switchText {
  0% {
    text-shadow: 0px 0px 0px #0b0b0b, 0px 0px 0px #232323;
  }

  10% {
    text-shadow: 0px 0px 0px #0b0b0b, 0px 0px 0px #232323;
  }

  20% {
    text-shadow: 2px 2px 6px #0b0b0b, -2px -2px 6px #232323;
  }

  80% {
    text-shadow: 2px 2px 6px #0b0b0b, -2px -2px 6px #232323;
  }

  90% {
    text-shadow: 0px 0px 0px #0b0b0b, 0px 0px 0px #232323;
  }

  100% {
    text-shadow: 0px 0px 0px #0b0b0b, 0px 0px 0px #232323;
  }
}
</style>

<script>
export default {
  name: 'PageIndex',

  data () {
    return {
      iteration: 1,
      rotationlist: [
        { spec: 'COMING SOON' },
        { spec: 'COMING SOON.' },
        { spec: 'COMING SOON..' },
        { spec: 'COMING SOON...' },
        { spec: '1st' },
        { spec: '1st april' },
        { spec: '1st april 2021' }
      ],
      rotation: ''
    }
  },

  mounted () {
    this.rotation = this.rotationlist[0].spec
    this.startInterval()
  },

  methods: {
    startInterval: function () {
      setInterval(() => {
        this.rotation = this.rotationlist[
          this.iteration % this.rotationlist.length
        ].spec
        this.iteration += 1
      }, 1000)
    }
  }
}
</script>
