<template>
  <div id="q-app">
    <vue-page-transition name="fade-in-right">
      <router-view />
    </vue-page-transition>
  </div>
</template>

<script>
import Vue from 'vue'

import VuePageTransition from 'vue-page-transition'

Vue.use(VuePageTransition)

export default {
  name: 'App'
}
</script>
