<template>
  <!--<q-layout view="hHr LpR fFf">
    <q-btn dense flat round icon="menu" id="navbar-toggle" @click="navbar = !navbar" />

    <q-drawer v-model="navbar" side="right" overlay elevated>
      <q-img src="~assets/lion.png" class="q-mt-xl"></q-img>
      <nav class="text-center">
        <ul class="q-pl-none q-mt-md">
          <li v-for="(button, i) in nav" :class="button.active" :key="i">
            <a :href="button.link" class="block full-width q-py-md">{{ button.name }}</a>
          </li>
        </ul>
      </nav>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>-->
  <q-layout view="hHr LpR fFf">
    <q-page-container>
      <vue-page-transition>
        <router-view />
      </vue-page-transition>
    </q-page-container>
  </q-layout>
</template>

<style lang="sass">
// NAVBAR
#navbar-toggle
  position: fixed
  top: 20px
  right: 20px
  z-index: 9999

nav ul
  list-style: none

nav ul a
  color: #fff
  text-decoration: none
  font-size: 20px
  text-transform: uppercase
  z-index: 9
  position: relative

nav ul li
  position: relative
  overflow: hidden
  &::after, &::before
    content: ''
    display: block
    background: $primary
    width: 0
    height: 0
    opacity: .8
    transition: .35s cubic-bezier(1, 0.28, 0.26, 1.01)
    position: absolute
    transform-origin: center
    border-radius: 100%
    z-index: 1
    &::after
      bottom: 0
      right: 0
    &::before
      top: 0
      left: 0

nav ul li:hover, nav ul li.active
  &::after, &::before
    width: 1000px
    height: 1000px
    &::after
      transform: translateX(40%)
    &::before
      transform: translateX(-40%)
</style>

<script>
export default {
  name: 'Layout',

  data () {
    return {
      navbar: false,
      nav: [{ name: 'test', link: '#', active: 'active' }, { name: 'test', link: '#' }, { name: 'test', link: '#' }, { name: 'test', link: '#' }]
    }
  },

  created () {
    this.$q.dark.set(true)
  }
}
</script>
